.EmployeeContent{
    padding: 20px;
    border-style: solid;
    margin: 10px;
}



.EmployeeTable{
    margin-top: 10px;
}

.FaCalendar{
    height: 25px;    
}

.input-group-append{
    padding-left: 20px;
}


.AddEmployeeButton{
    width: 20%;
}
